<html>
<head>
    <title>Library Project</title>
    <link rel="stylesheet" href="main_style.css">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="lib_name">
            <h1>Sample Library</h1>
        </div>
        <div id="login">
            Login
        </div>
    </div>
    <div id="menu" class="boxes">
    Here are the details of the book you selected:
    </div>
    <div id="content">
        <div id="books" class="boxes">
            <h1><%= name %></h1><br>
            by <%= author %>
        </div>
        <div id="news" class="boxes">

        </div>
    </div>
</div>
</body>
</html>